* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;

  background-color: #000;
  color: #fff;
}

body {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
}

main {
  width: 52rem;
  padding: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: start;
  margin-bottom: 0.25rem;
}

h3 {
  font-size: medium;
  font-weight: normal;
}

nav {
  margin-bottom: 1rem;

  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1rem;
}

section {
  margin-bottom: 1.5rem;
}

.cat-container {
  margin-top: 1rem;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}

.cat-container > .top-row {
  grid-column: 1 / 4;
}

.cat-container > .item {
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-container > .item > img {
  max-width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
}

.groups-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.group {
  margin-bottom: 0.5rem;
  flex-grow: 1;
  flex-basis: 0;
}

.group.project {
  display: flex;
  flex-direction: column;
}

.group.project > .example {
  flex-grow: 1;
  margin-top: 0.5rem;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
}

.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-range {
  text-align: end;
  opacity: 50%;
}

ul {
  margin-left: 1.5em;
  list-style-type: "- ";
}

p,
li {
  line-height: 150%;
}

a {
  color: #fff;
  text-decoration-color: #fff;
}

a:hover {
  opacity: 75%;
}

.grayscale-text {
  color: #758aea;
  text-decoration-color: #758aea;
  font-weight: bold;
}

.gt-text {
  color: #efc955;
  text-decoration-color: #efc955;
  font-weight: bold;
}

.tesla-text {
  color: #e80d0d;
  text-decoration-color: #e80d0d;
  font-weight: bold;
}

.ncr-text {
  color: #54bc4b;
  text-decoration-color: #54bc4b;
  font-weight: bold;
}

.project-title {
  font-weight: bold;
}

.code-block > pre {
  margin: 0.5rem;
}

@media (max-width: 700px) {
  body {
    margin-top: 0.5rem;
  }

  .groups-grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .group-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .date-range {
    font-size: smaller;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #fff;
    color: #000;
  }

  a {
    color: #000;
    text-decoration-color: #000;
  }

  .group.project > .example {
    border: 1px solid #000;
  }

  .grayscale-text {
    color: #505fa0;
    text-decoration-color: #505fa0;
  }

  .gt-text {
    color: #f1c12e;
    text-decoration-color: #f1c12e;
  }

  .tesla-text {
    color: #f70303;
    text-decoration-color: #f70303;
  }

  .ncr-text {
    color: #4fdf42;
    text-decoration-color: #4fdf42;
  }
}
