* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;

  background-color: #000;
  color: #fff;
}

body {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
}

main {
  width: 48rem;
  padding: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: x-large;
}

nav {
  margin-bottom: 1rem;

  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1rem;
}

section {
  margin-bottom: 1.5rem;
}

.experience-group {
  margin-bottom: 1rem;
}

.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-range {
  text-align: end;
  opacity: 50%;
}

ul {
  margin-left: 1.5em;
  list-style-type: "- ";
}

p,
li {
  line-height: 150%;
}

a {
  color: #fff;
  text-decoration-color: #fff;
}

a:hover {
  opacity: 75%;
}

.grayscale-text {
  font-weight: bold;
  text-decoration-color: transparent;

  background-image: linear-gradient(15deg, #697dd3, #b5bbd1);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gt-text {
  font-weight: bold;
  text-decoration-color: transparent;

  background-image: linear-gradient(15deg, #a4925a, #f9dd89);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.tesla-text {
  font-weight: bold;
  text-decoration-color: transparent;

  background-image: linear-gradient(15deg, #aa0000, #f20000);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.ncr-text {
  font-weight: bold;
  text-decoration-color: transparent;

  background-image: linear-gradient(15deg, #2b6026, #54bc4b);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (max-width: 700px) {
  body {
    margin-top: 0.5rem;
  }

  .group-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  h3 {
    font-size: larger;
  }

  .date-range {
    font-size: smaller;
  }
}
